{% extends 'base.html' %}
{% block title %}{% block header %}Translation Create{% endblock %}{% endblock %}
{% block main %}
    <div class="row">
        <form method="post">{% csrf_token %}
            <div class="col-sm-5"><input type="text" class="form-control" placeholder="{{ lang1.name }} words" name="lang1_words" data-role="tagsinput"></div>
            <div class="col-sm-5"><input type="text" class="form-control" placeholder="{{ lang2.name }} words" name="lang2_words" data-role="tagsinput"></div>
            <div class="col-sm-2"><input class="btn btn-primary btn-block" type="submit" value="Create"></div>
        </form>
    </div>
{% endblock %}